#gameboard {
  display: flex;
  justify-content: space-evenly;
}

#gameboard > div {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  background-color: aquamarine;
  width: 30%;
  aspect-ratio: 1/1;
}

#gameboard > div :hover {
  color: grey;
}

.test1 {
  background-color: aquamarine;
}

#gameboard > div {
  border: 1px solid black;
}

.test1 > button {
  width: 20px;
  height: 20px;
}
